* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --primario: #032b42;
    --secundario: #0da1ae;
    --fondo: #ffffff;
    --hover: #e2e2e2;
    --error: #420303;
    --success: #034208;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    audio{
        position: fixed;
        bottom: 50%;
        right: 10px;
        width: 25px;
        height: 25px;
        box-shadow: 0 0 5px var(--secundario);
        border-radius: 50%;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    .logoApp {
        width: 130px;
        max-width: 95%;
        border-radius: 50%;
        margin: 5px;
    }

    .__cita {
        background-color: var(--secundario);
        color: var(--primario);
    }

    .__cita:hover {
        background-color: var(--fondo);
        color: var(--secundario);
        box-shadow: 0 0 5px var(--secundario);
    }

    .menu {
        padding: 0;
        margin-top: 5px;

        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            li {
                margin: 5px 10px;

                a {
                    text-decoration: none;
                    color: var(--primario);
                    font-weight: bold;
                    font-size: 18px;
                }

                a:hover {
                    color: var(--secundario);
                    text-decoration: underline;
                }

                .active {
                    color: var(--secundario);
                    pointer-events: none;
                }
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: start;
    align-items: center;
    width: 100%;
    .name_page {
        width: 100%;
        background-color: var(--hover);
        margin: 0;
        text-align: justify;
        h1 {
            font-size: 60px;
            color: var(--secundario);
            text-align: center;
            text-shadow: 0 0 3px var(--primario);
        }
        p {
            padding: 15px;
            color: var(--primario);
            font-weight: bold;
        } 
        h3,h4,ul li{
            padding: 5px 15px;
        } 
        
    }

    .caso{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
        img{
            width: 200px;
            border-radius: 50%;
            margin: 10px;
        }
        h2{
            max-width: 95%;
            margin: 10px 0;
            text-align: justify;
        }
        h3{
            width: 95%;
        }
        p{
            text-align: justify;
            width: 95%;
            margin: 10px 0;
        }
    }
    .caso_1{
        background-color: var(--error);
        color: var(--secundario);
    }
    .caso_2{
        background-color: var(--primario);
        color: var(--hover);
    }
    .caso_3{
        background-color: var(--success);
        color: orange;
    }
    .caso_4{
        background-color: var(--secundario);
        color: var(--primario);
    }

    .sobre_mi {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 20px auto;
        width: 100%;

        p {
            width: 400px;
            max-width: 95%;
            text-align: justify;
            color: var(--primario);
            font-weight: bold;
            margin: 10px;
        }

        .msn {
            position: relative;
            width: 100%;
            height: 300px;
            margin: 10px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;

            h1 {
                position: absolute;
                left: 50%;
                top: 50%;
                width: 95%;
                display: flex;
                justify-content: center;
                transform: translate(-50%, -50%);
                text-align: justify;
                font-style: italic;
                font-variant: small-caps;
                z-index: 1;
                animation-name: example;
                animation-duration: 20s;
                animation-iteration-count: infinite;
            }

            img {
                width: 100%;
                height: 300px;
                margin: 10px 0;
            }
        }

        .fotoPerfil {
            width: 300px;
            max-width: 100%;
            border-radius: 50%;
            margin: 15px;
            border-radius: 50%;
            box-shadow: 0 0 10px var(--primario);
        }
    }

    .cita {
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 10px auto;

        div {
            width: 450px;
            max-width: 100%;
            margin: 10px;
            color: var(--primario);
            font-weight: bold;
        }

        form {
            width: 450px;
            max-width: 100%;
            text-align: center;

            .date,
            .time {
                margin: 10px auto;
                color: var(--primario);
                font-weight: bold;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: start;
                flex-direction: column;

                #date,
                #time {
                    font-weight: bold;
                    border-radius: 5px;
                    border: 1px solid var(--primario);
                    cursor: pointer;
                    width: 100%;
                    height: 40px;
                    transition: 0.2s ease-in-out;
                }

                #date:hover,
                #time:hover {
                    scale: 0.99;
                }
            }

            input[type='submit'] {
                width: 100%;
                margin: 5px auto;
                border: none;
                height: 40px;
                background-color: var(--secundario);
                color: var(--primario);
                font-weight: bold;
                cursor: pointer;
                border-radius: 5px;
            }

            input[type='submit']:hover {
                color: var(--secundario);
                background-color: var(--fondo);
                box-shadow: 0 0 5px var(--secundario);
            }

        }
    }

    .services {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;

        div {
            width: 280px;
            max-width: 95%;
            padding: 10px;
            box-sizing: border-box;
            box-shadow: 0 0 5px var(--secundario);
            border-radius: 5px;
            position: relative;
            text-align: center;
            margin: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            cursor: pointer;
            transition: 0.2s ease-in-out;

            h2 {
                font-size: x-large;
                color: var(--primario);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            i {
                font-size: 200px;
                max-width: 95%;
                text-align: center;
            }

            p {
                font-size: medium;
                width: 95%;
                color: var(--secundario);
                text-align: justify;
                font-weight: bold;
            }

            .hidden {
                display: none;
            }

            .show {
                display: block;
            }
        }

        div:hover {
            background-color: var(--hover);
            scale: 0.99;
        }

        div:active {
            box-shadow: inset 0 0 10px var(--secundario);
            scale: 0.99;
        }
    }

    .inicio {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-wrap: wrap;

        ol {
            width: 95%;
            text-align: justify;
            margin: 10px auto;
            color: var(--primario);

            h4 {
                font-style: oblique;
            }

            li {
                list-style: none;
            }
        }

        div {
            width: 400px;
            margin: 10px;

            h3 {
                text-align: center;
            }

            p {
                width: 100%;
                box-shadow: 0 0 5px var(--secundario);
                text-align: justify;
                border-radius: 5px;
                padding: 10px;
                box-sizing: border-box;
                color: var(--primario);
                background-color: var(--secundario);
                font-weight: bold;

                i {
                    font-size: 65px;
                    color: var(--error);
                    text-align: center;
                    width: 100%;
                    margin: 10px auto;
                }
            }
        }
    }
}

footer {
    background-color: var(--hover);
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h6 {
        color: var(--primario);
        max-width: 95%;
        margin: 10px 0;
    }

    i {
        font-size: 24px;
        margin: 5px 10px;
        cursor: pointer;
    }

    i:hover {
        color: var(--secundario);
    }
}

.btn {
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}



.dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px auto;
    width: 100%;

    a {
        text-decoration: none;
        max-width: 95%;
        width: 250px;
        min-height: 280px;
        margin: 10px 20px;
        color: var(--secundario);
        transition: 0.2s ease-in-out;

        img {
            width: 100%;
            height: 220px;
            border-radius: 5px;
        }

        h3 {
            width: 100%;
            text-align: center;
        }

        h5 {
            width: 95%;
            text-align: justify;
        }
    }

    a:hover,
    a:active {
        scale: 0.99;

        img {
            box-shadow: 0 0 5px var(--secundario);
        }
    }

    p {
        width: 400px;
        max-width: 95%;
        text-align: justify;
        margin: 5px 10px;
        color: var(--primario);
        font-weight: bold;
    }

    form {
        width: 450px;
        max-width: 95%;

        input[type='submit'] {
            width: 95%;
            margin: 5px auto;
            border: none;
            height: 40px;
            background-color: var(--secundario);
            color: var(--primario);
            font-weight: bold;
            cursor: pointer;
            border-radius: 5px;
        }

        input[type='submit']:hover {
            color: var(--secundario);
            background-color: var(--fondo);
            box-shadow: 0 0 5px var(--secundario);
        }

        .btn_txt {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            input[type='text'] {
                width: 100%;
                margin: 5px;
                border: 1px solid var(--primario);
                height: 40px;
                padding: 0 10PX;
                border-radius: 5px;
            }

            input[type='submit'] {
                width: 100%;
                margin: 5px;
                border: none;
                height: 40px;
                background-color: var(--secundario);
                color: var(--primario);
                font-weight: bold;
                cursor: pointer;
                border-radius: 5px;
            }

            input[type='submit']:hover {
                color: var(--secundario);
                background-color: var(--fondo);
                box-shadow: 0 0 5px var(--secundario);
            }

            textArea {
                resize: none;
                width: 100%;
                margin: 5px;
                border: 1px solid var(--primario);
                height: 80px;
                padding: 10PX;
                border-radius: 5px;
            }

            input[type='text']:focus,
            textArea:focus {
                outline: 1px solid var(--primario);
                box-shadow: 0 0 5px var(--primario);
            }
        }
    }


}





@media (max-width: 700px) {
    header {
        justify-content: center;
    }

    ul {
        margin: auto;
        border-radius: 5px;
    }
}


@keyframes example {
    0% {
        background: radial-gradient(circle, #d21ccf, #33FF57, #ce1212);
        -webkit-background-clip: text;
        color: transparent;
    }

    20% {
        background: radial-gradient(circle, #e3e853, #ff1414, #ff14d0);
        -webkit-background-clip: text;
        color: transparent;
    }

    40% {
        background: radial-gradient(ellipse, #ffd950, #45ffcd, #ff45da);
        -webkit-background-clip: text;
        color: transparent;
    }

    60% {
        background: radial-gradient(ellipse, #ff2d1e, #51ff00, #d9ff4f);
        -webkit-background-clip: text;
        color: transparent;
    }

    80% {
        background: radial-gradient(circle, #d01aec, #ffd91b, #2ef1ff);
        -webkit-background-clip: text;
        color: transparent;
    }

    100% {
        background: radial-gradient(ellipse, #e2e2ff, #0cde0f, #ff00cc);
        -webkit-background-clip: text;
        color: transparent;
    }
}